* {
	font-family: 'poppins', sans-serif;
	color: #eaeaea;
}

a {
	text-decoration: none;
}

body {
	margin: 100px 0 0;
}

img {
	display: table;
	height: 100%;
	width: 100%;
}

.wrapper {
	/*width: 80%;*/
	width: 100%;
	max-width: 1750px;
	margin: 0 auto;
	padding: 20px;
}

input {
    -webkit-border-radius:0; 
}



select, option {
	color: #000;
	padding: 5px;
}

select {
  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  background: #efefef;
  border: none;
  border-radius: 3px;
}

.fas {
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}



ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	justify-content: space-between;
}

li {
	list-style: none;
	cursor: pointer;
	margin: 10px 18px;
	text-transform: uppercase;
}

li:hover,
.fas:hover {
	color: #ffc000;
}

p {
	color: #000;
}

header {
	/*background: #083776;*/
	height: 80px;
	position: fixed;
		top: 0;
	width: 100%;
	z-index: 1;
}
header .headerWrapper {
	/*background: #083776;*/
	padding: 10px 0;
	position: absolute;
		top: 0;
	width: 100%;
	z-index: 2;
}
header .logo {
	display: inline-block;
	max-width: 90px;
}
header nav {
  align-items: center;
	background: #083776;
	float: left;
	height: calc(100vh - 80px);
  justify-content: space-between;
	position: relative;
		top: 80px;
		left: -100vw;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  width: 100%;
}
header nav.open {
	left: 0;
}
header #navHam {
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-top: 5px;
	padding: 10px;
}
header nav ul {
	width: 100%;
		max-width: 400px;
}
header nav ul:last-of-type {
	display: none;
}
header nav li {
  width: calc(100% - 36px);
}
header nav li:after {
	content: '+';
	float: right;
}
header .searchContainer {
	position: absolute;
		right: 100%;
		bottom: -50px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: 100%;
}
header input[type="search"] {
	-webkit-appearance: none;
	background: #f4f4f4;
	border: none;
	color: #000;
	font-size: 18px;
	height: 50px;
	padding: 7px 12px;
	width: 100%;
}
header input[type="search"]:focus {
  outline-width: 0;
}
header .searchContainer button {
	/*background: #f8df29;*/
	background: #f4f4f4;
	border: none;
	color: #083776;
	height: 50px;
	padding: 0;
	position: absolute;
		right: 0;
	width: 50px;
}
header .searchContainer i {
	color: #083776;
	font-size: 24px;
}
header .searchContainer.open {
	right: 0;
}
header .iconContainer {
	display: inline-block;
	float: right;
	margin-top: 9px;
}
header .iconContainer .fas {
	/*background: #1979c3;*/
	border-radius: 50%;
	padding: 6px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	font-size: 17px;
	line-height: 32px;
	text-align: center;
}
header #navUser {
	display: none;
}
header .cartContainer {
	background: #fff;
	border: 1px solid #083776;
	padding-bottom: 20px;
	position: absolute;
		top: 80px;
		left: 100%;
	text-align: center;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: calc(100% - 2px);
}
header .cartContainer.open {
	left: 0;
}
header .cartContainer .desktopCart {
	display: none;
}
header .cartContainer article {
	padding: 20px;
}
header .cartContainer p {
	margin: 0;
}
header .cartContainer hr {
	border: none;
	border-top: 1px solid #083776;
	margin: 0 20px 20px;
}
header .cartContainer a {
	color: #083776;
}
header .cartContainer .phoneContainer {
	margin-top: 5px;
}
header .cartContainer .phoneContainer a {
	margin: 0 5px;
	text-decoration: underline;
}
header .cartContainer .phoneContainer i {
	display: none;
}
header .locationContainer {
  display: inline-block;
	margin-top: 10px;
  position: relative;
}
header select {
	background: none;
	/*color: #fff;*/
	display: inline;
	padding-right: 25px;
	position:relative;
		top: -3px;
	text-transform: uppercase;
}
header .locationContainer:after {
/*  border-top: 8px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
	content:"";
	height:0;
	pointer-events: none;
	position:absolute;
    top: .6em;
    right: .5em;
	width:0;*/
}
header .locationContainer i.fa-chevron-down {
	position: absolute;
	right: 0;
	font-size: 13px;
	padding-top: 9px;
	color: #000;
}
header select::-ms-expand {
    display: none;
}
header label[for="location"] i {
	color: #083776;
}
.disable {
	pointer-events: none;
}

@media screen and (min-width: 1050px) {
body {
	margin: 118px 0 0;
}
header, header #navHam, header .logo, header .searchContainer, header .locationContainer, header .iconContainer {
	-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
}
header {
	height: 96px;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 1750px;
}
header:before {
	background: #083776;
	content: '';
	height: 100%;
	position: absolute;
		top: 0;
		left: -750px;
	width: calc(100vw + 750px);
	z-index: -1;
			-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
}
header.transparent::before{
	background: rgba(8, 55, 118, .75);
		-webkit-transition: all 0.4s linear;
		-moz-transition: all 0.4s linear;
		-o-transition: all 0.4s linear;
		transition: all 0.4s linear;
}
header .headerWrapper {
	padding: 0;
	top: 5px;
}
header #navHam {
	opacity: 0;
	pointer-events: none;
	position: relative;
		left: 0;
}
header #navHam.slower {
	-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
header .logo {
	max-width: 120px;
	position: relative;
    top: 5px;
		left: -20px;
}
header .searchContainer {
	display: inline-block;
	position: relative;
		top: -45px;
		right: unset;
		bottom: unset;
	/*width: 400px;*/
	width: 600px;
}
header input[type="search"] {
	font-size: 13px;
	height: 36px;
	border-radius: 4px;
	color: #005589;
}
header input[type="search"]::placeholder {
	color: #005589;
}
header .searchContainer button {
	height: 36px;
	width: 36px;
	border-radius: 4px;
}
header .searchContainer i {
	font-size: 20px;
	color: #005589;
}
header .cartContainer {
	background: none;
	border: none;
	display: inline-block;
	height: 0;
	padding: 0;
	position: unset;
	width: 200px;
}

/*desktop cart*/
header .cartContainer .desktopCart {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	pointer-events: none;
	padding: 15px;
	-webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
header .cartContainer.open .desktopCart {
  background: #1979c3;
	opacity: 1;
  pointer-events: auto;
	top: 91px;
}
header .itemContainer,
header .itemInfo {
	display: flex;
}
header .itemContainer {
	/*padding: 15px;*/
	margin-bottom: 15px;
}
header .itemContainer:first-of-type {
	margin-top: 10px;
}
header .itemInfo,
header .quantityChange {
	margin-left: 15px;
}
header .itemInfo {
	flex-direction: column;
	justify-content: space-between;
}
header .itemContainer figure {
	margin: 0;
	max-width: 80px;
	max-height: 80px;
}
header .desktopCart h4,
header .desktopCart h5 {
	margin: 0;
	text-align: left;
}
header .itemContainer h5 {
	color: #1979c3;
	width: 30px;
	height: 30px;
	background: #fff;
	line-height: 30px;
	text-align: center;
	display: inline-block;
	/*padding: 5px 10px;*/
}
header .quantityChange i {
	background: #fff;
	color: #083776;
	font-size: 12px;
}
header .totalContainer {
	margin-left: 95px;
}
header .totalContainer h4 {
	color: #f8df29;
}
header .cartContainer .totalContainer hr {
	border: none;
  height: 1px;
  display: block;
  background: #fff;
  margin: 15px 0;
  margin-right: auto;
  width: 125px;
}
header .buttonBox button {
	padding: 6px;
	cursor: pointer;
}
header .buttonBox button:first-of-type {
	background: #1979c3;
	color: #fff;
	border: 1px solid #fff;
}
header .buttonBox button:last-of-type {
	background: #fff;
	color: #1979c3;
	border: 1px solid #1979c3;
}
header .buttonBox button:hover {
	color: #f8df29;
	background: #1979c3;
	border-color: #fff;
}

/*header .buttonBox button:first-of-type:hover {
	color: #1979c3;
	background: #fff;
	border-color: #1979c3;
}
header .buttonBox button:last-of-type:hover {
	color: #fff;
	background: #1979c3;
	border-color: #fff;
}*/

/*end of desktop cart*/

header .cartContainer article {
	background: #fff;
	border: 1px solid #083776;
	position: absolute;
		top: -200px;
		right: 0;
	-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
header .cartContainer.open article {
	/*top: 175px;*/
}
header .cartContainer hr {
	display: none;
}
header #cartAccount {
	display: none;
}
header .cartContainer .phoneContainer {
  display: none;
}
header .navPhoneLinks a {
	align-items: center;
	color: #fff;
	display: inline-flex;
	text-decoration: none;
}
header .navPhoneLinks i {
	background: #f8df29;
	color: #083776;
	display: block;
	font-size: 12px;
	margin-right: 5px;
	padding: 4px;
	border-radius: 4px;
}
header .locationContainer {
  top: -39.5px;
}
header select {}
header label[for="location"] i {
	color: #f8df29;
}
header label[for="location"] i:hover {
	color: #f8df29;
}
header .iconContainer {
	margin-top: 0;
}
header .iconContainer .fas {
	padding: 3px;
	font-size: 15px;
}
header #navSearch {
	display: none;
}
header #navUser {
	display: inline-block;
	font-size: 21px;
	margin: 0;
}
header #navCart {
	margin: 0;
	font-size: 19px;
}
header nav {
	background: none;
	display: inline-flex;
	height: auto!important;
	top: 50px!important;
	left: 165px!important;
	width: calc(100vw - 165px);
		max-width: 1335px;
	z-index: 3;
}
header nav ul {
	display: inline-block;
	width: auto;
		max-width: 100%;
}
header nav ul:last-of-type {
	display: inline-block;
	position: absolute;
		top: 20px;
}
header nav li {
	display: inline-block;
	font-size: 14px;
	margin: 0 5px;
	width: auto;
}
header nav li:after {
	content: none;
}
header nav ul li a {
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav ul li a:hover,
header nav ul li:hover {
	color: #f8df29;
}
header.fixed {
	height: 82px;
}
header.fixed .logo {
	left: 5px;
	max-width: 98px;
}
header.fixed .searchContainer {
	margin-left: 20px;
	top: -25px;
}
header.fixed .locationContainer {
	top: -22.5px;
}
header.fixed .iconContainer {
  margin-top: 9px;
}
header.fixed #navHam {
  opacity: 1;
	pointer-events: unset;
  /*left: 0;*/
}
header.fixed nav {
	opacity: 0;
	/*top: -50px!important;*/
}
header.fixed .cartContainer .phoneContainer {
  top: -50px;
}
header.fixed nav.open {
	opacity: 1;
	top: 60px!important;
}
header.fixed .cartContainer .phoneContainer.open {
	top: 63px;
}
header.fixed .cartContainer.open .desktopCart {
  /*top: 76px;*/
  top: 77px;
}
header.extend {
	height: 107.5px;
}
header.extend .cartContainer.open .desktopCart {
  top: 91px;
}
header.closed {
	height: 81px!important;
}
header.closed nav {
	opacity: 0;
	pointer-events: none;
	transition: none;
}
header.closed nav.open {
	top: -50px!important;
	}
header select,
header .locationContainer i.fa-chevron-down {
	color: #fff;
}
}

@media screen and (min-width: 1475px) {
header .iconContainer .fas {
	padding: 6px;
	font-size: 17px;
}
header #navHam {
  margin-top: 10px;
  left: 15px;
}
header .logo {
  padding: 0 25px;
}
header nav {
	top: 60px!important;
	left: 217.5px!important;
	width: calc(100vw - 217.5px);
		/*max-width: 1282.5px;*/
		max-width: 1532.5px;
}
header nav ul:first-of-type li {
  margin-right: 20px;
  letter-spacing: 0.75px;
}
header nav ul:first-of-type li:first-of-type {
  margin-left: 0;
}
header nav ul:first-of-type li:last-of-type {
  margin-right: 0;
}
header nav ul:last-of-type {
	float: right;
	position: relative;
    top: 0;
}
header nav ul li {
	margin: 0 10px;
}
header.extend {
	/*height: 100px;*/
	height: 96px;
}
header.fixed .logo {
  left: 15px;
}
header.fixed nav.open {
	top: 67.5px!important;
}
}



/*grid system*/
.wrapper {
	border: 3px dashed red;
	box-sizing: border-box;
}
.box {
	background: #d3d3d3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.box1 {
	/*margin: 100px 0;*/
}
.middleBox figure,
.box1 figure,
.box2 figure,
.box3 figure,
.box4 figure {
	margin: 0;
	position: relative;
}
#contentContainer,
.pyramidBox,
.box2,
.box3,
.box4 {
	display: grid;
	grid-gap: 20px;
}
.leftBox {
	border: 2px dashed blue;
}
.upperBox,
.middleBox,
.lowerBox {
	border: 2px dashed green;
}
#contentContainer {
	grid-template-columns: 1fr 4fr;
}
.box4 {
	grid-template-columns: repeat(4, 1fr);
}
.middleBox figure {
	max-height: 125px;
}
.box2 {
	grid-template-columns: 1fr 1fr;
}
.box3 {
	grid-template-columns: repeat(3, 1fr);
}
.box1 figure {
	height: 300px;
}
@media screen and (max-width: 1024px) {
	body {
		margin-top: 80px;
	}
	.wrapper {
		width: 100%;
		padding: 20px;
	}
}
@media screen and (max-width: 768px) {
	.box4 {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 624px) {
	.box3 {
		grid-template-columns: 1fr 1fr;
	}
	.box3 figure:last-of-type {
		grid-column-start: 1;
		grid-column-end: 3;
		width: 50%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 500px) {
	.wrapper {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
	}
	#contentContainer,
	.rightBox,
	.upperBox,
	.middleBox,
	.lowerBox {
		grid-gap: 15px;
	}
	.lowerBox {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 425px) {
	#contentContainer,
	.lowerBox {
		grid-template-columns: 1fr;
	}
	.leftBox {
		position: absolute;
		top: -1000px;
	}
	.upperBox {
		grid-template-columns: 1fr 1fr;
	}
}




/*category styles*/
.outerContainer h2,
.outerContainer h3,
.outerContainer h4,
.outerContainer h5,
.outerContainer label {
	color: #000;
	text-align: center;
}
.outerContainer figure {
	margin: 0;
}
.outerContainer img {
	object-fit: cover;
}
.lowerBox img {
	/*min-height: 278px;*/
}
.upperBox,
.lowerBox {
	display: grid;
	grid-gap: 20px;
}
.upperBox {
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(6, 1fr);
}
.lowerBox {
	grid-template-columns: repeat(4, 1fr);
}
.upperBox figure,
.middleBox figure {
	position: relative;
}
.upperBox h5 {
	position: absolute;
	margin: 7px;
	bottom: 0;
	left: 0;
	right: 0;
}
.middleBox {
	padding: 20px 0;
}
.middleBox img {
	visibility: hidden;
}
.productContainer {
	border: 1px solid #dadada;
}
@media screen and (max-width: 1325px) {
/*	.wrapper {
		width: 90%;
	}*/
	.upperBox {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 995px) {
/*	.wrapper {
		width: 100%;
		padding: 10px;
	}*/
	#contentContainer,
	.upperBox,
	.middleBox,
	.lowerBox {
		grid-gap: 10px;
	}
	.middleBox {
		padding: 10px 0;
	}
	.lowerBox {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 850px) {
	#contentContainer {
		grid-template-columns: 1fr;
	}
	.leftBox {
		position: absolute;
		left: -1000px;
	}
}
@media screen and (max-width: 550px) {
	.lowerBox {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 425px) {
	.upperBox {
		grid-template-columns: 1fr 1fr;
	}
	.productContainer h4 {
		margin: 0 0 10px;
		font-size: 14px;
	}
}


/*Banner Code*/
.fullwidth {
	width: 100%;
}
.fullwidth figure {
	margin: 0;
}
.fullwidth article {
	display: none;
  position: relative;
}
.fullwidth article .text {
  padding: 10px;
  position: absolute;
    bottom: 0;
  width: calc(100% - 20px);
}
.fullwidth article h3 {
  margin: 0 0 10px;
}
.fullwidth article p {
  margin: 0;
}
.fullwidth .bottom-info button, .fullwidth .bottom-info p, .fullwidth .bottom-info h3 {
	display: inline-block;
	margin: 0;
}
.fullwidth .bottom-info button {
  margin-left: 10px;
}
.fullwidth .bottom-info h3 {
	color: #f00;
	float: right;
  margin-right: 10px;
}
.fullwidth .bottom-info a {
	color: #333;
}
