* {
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

body {
	margin: 100px 0 0;
}

img {
	display: table;
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 80%;
	max-width: 1500px;
	margin: 0 auto;
}

input {
    -webkit-border-radius:0; 
}



select, option {
	color: #000;
	padding: 5px;
}

.fas {
	font-size: 20px;
	padding: 5px;
	cursor: pointer;
}



ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	justify-content: space-between;
}

li {
	list-style: none;
	cursor: pointer;
	margin: 10px 18px;
	text-transform: uppercase;
}

li:hover,
.fas:hover {
	color: #ffc000;
}

p {
	color: #000;
}

header {
	background: #083776;
	height: 80px;
	position: fixed;
		top: 0;
	width: 100%;
	z-index: 1;
}
header .headerWrapper {
	background: #083776;
	padding: 10px 0;
	position: absolute;
		top: 0;
	width: 100%;
	z-index: 2;
}
header .logo {
	display: inline-block;
	max-width: 90px;
}
header nav {
	background: #083776;
	/*display: inline-block;*/
	float: left;
	position: relative;
		top: -200px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
header nav.open {
	height: calc(100vh - 80px);
	top: 80px;
}
header #navHam {
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-top: 5px;
	padding: 10px;
}

header nav ul:last-of-type {
	display: none;
}
header .searchContainer {
	position: absolute;
		right: 100%;
		bottom: -50px;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: 100%;
}
header input[type="search"] {
	background: #f4f4f4;
	border: none;
	color: #000;
	font-size: 18px;
	height: 50px;
	padding: 7px;
	width: 100%;
}
header .searchContainer button {
	background: #f8df29;
	border: none;
	color: #083776;
	height: 50px;
	padding: 0;
	position: absolute;
		right: 0;
	width: 50px;
}
header .searchContainer i {
	color: #083776;
	font-size: 24px;
}
header .searchContainer.open {
	right: 0;
}
header .iconContainer {
	display: inline-block;
	float: right;
	margin-top: 9px;
}
header .iconContainer .fas {
	background: #1979c3;
	border-radius: 50%;
	padding: 6px;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	font-size: 17px;
	line-height: 32px;
	text-align: center;
}
header #navUser {
	display: none;
}
header .cartContainer {
	background: #fff;
	border: 1px solid #083776;
	padding-bottom: 20px;
	position: absolute;
		top: 80px;
		left: 100%;
	text-align: center;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	width: calc(100% - 2px);
}
header .cartContainer.open {
	left: 0;
}
header .cartContainer .desktopCart {
	display: none;
}
header .cartContainer article {
	padding: 20px;
}
header .cartContainer p {
	margin: 0;
}
header .cartContainer hr {
	border: none;
	border-top: 1px solid #083776;
	margin: 0 20px 20px;
}
header .cartContainer a {
	color: #083776;
}
header .cartContainer .phoneContainer {
	margin-top: 5px;
}
header .cartContainer .phoneContainer a {
	margin: 0 5px;
	text-decoration: underline;
}
header .cartContainer .phoneContainer i {
	display: none;
}
header select {
	background: #fff;
	border: 1px #083776 solid;
	margin-top: 10px;
}
header label[for="location"] i {
	color: #083776;
}
.disable {
	pointer-events: none;
}

@media screen and (min-width: 1024px) {
body {
	margin: 135px 0 0;
}
header, header #navHam, header .logo, header .searchContainer, header label[for="location"] i, header select, header .iconContainer {
	-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;
}
header {
	height: 95px;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 1500px;
}
header:before {
	background: #083776;
	content: '';
	height: 100%;
	position: absolute;
		top: 0;
		left: -750px;
	width: calc(100vw + 750px);
	z-index: -1;
}
header .headerWrapper {
	padding-bottom: 0;
}
header #navHam {
	opacity: 0;
	pointer-events: none;
	position: relative;
		left: 0;
}
header #navHam.slower {
	-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
header .logo {
	max-width: 120px;
	position: relative;
		left: -20px;
}
header .searchContainer {
	display: inline-block;
	position: relative;
		top: -50px;
		right: unset;
		bottom: unset;
	width: 400px;
}
header input[type="search"] {
	font-size: 13px;
	height: 30px;
}
header .searchContainer button {
	height: 30px;
	width: 30px;
}
header .searchContainer i {
	font-size: 20px;
}
header .cartContainer {
	background: none;
	border: none;
	display: inline-block;
	height: 0;
	padding: 0;
	position: unset;
	width: 200px;
}
header .cartContainer .desktopCart {
	display: block;
}
header .cartContainer article {
	background: #fff;
	border: 1px solid #083776;
	position: absolute;
		top: -200px;
		right: 0;
	-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
}
header .cartContainer.open article {
	top: 175px;
}
header .cartContainer hr {
	display: none;
}
header #cartAccount {
	display: none;
}
header .cartContainer .phoneContainer {
  display: none;
}
header .navPhoneLinks a {
	align-items: center;
	color: #fff;
	display: inline-flex;
	text-decoration: none;
}
header .navPhoneLinks i {
	background: #f8df29;
	color: #083776;
	display: block;
	font-size: 12px;
	margin-right: 5px;
	padding: 3px;
}
header select {
	margin: 0;
	position: relative;
		top: -50px;
}
header label[for="location"] i {
	/*color: #fff;*/
	color: #f8df29;
	position: relative;
		top: -50px;
}
header label[for="location"] i:hover {
	color: #f8df29;
}
header .iconContainer {
	margin-top: 0;
}
header .iconContainer .fas {
	padding: 3px;
	font-size: 15px;
}
header #navSearch {
	display: none;
}
header #navUser {
	display: inline-block;
}
header nav {
	background: none;
	height: auto!important;
	top: 50px!important;
	left: 165px;
	width: calc(100vw - 165px);
		max-width: 1335px;
	z-index: 3;
}
header nav ul {
	display: inline-block;
}
header nav ul:last-of-type {
	display: inline-block;
	position: absolute;
		top: 20px;
}
header nav ul li {
	display: inline-block;
	margin: 0 5px;
}
header nav ul li a {
	-webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header nav ul li a:hover,
header nav ul li:hover {
	color: #f8df29;
}
header.fixed {
	height: 81px;
}
header.fixed .logo {
	left: 5px;
	max-width: 98px;
}
header.fixed .searchContainer {
	margin-left: 20px;
	top: -25px;
}
header.fixed label[for="location"] i, header.fixed select {
	top: -25px;
}
header.fixed .iconContainer {
  margin-top: 9px;
}
header.fixed #navHam {
  opacity: 1;
	pointer-events: unset;
  /*left: 0;*/
}
header.fixed nav {
	opacity: 0;
	/*top: -50px!important;*/
}
header.fixed .cartContainer .phoneContainer {
  top: -50px;
}
header.fixed nav.open {
	opacity: 1;
	top: 70px!important;
}
header.fixed .cartContainer .phoneContainer.open {
	top: 63px;
}
header.extend {
	height: 100px;
}
}

@media screen and (min-width: 1440px) {
header .iconContainer .fas {
	padding: 6px;
	font-size: 17px;
}
header nav {
	top: 60px!important;
	left: 160px;
	width: calc(100vw - 160px);
		max-width: 1340px;
}
header nav ul:last-of-type {
	float: right;
	position: relative;
    top: 0;
}
header nav ul li {
	margin: 0 10px;
}
}



/*grid system*/
.wrapper {
	border: 3px dashed red;
	box-sizing: border-box;
}
.box {
	background: #d3d3d3;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*width: 100%;*/
	/*height: 100%;*/
	/*border: 1px solid #474747;*/
}
.box1 {
	/*margin: 100px 0;*/
}
.middleBox figure,
.box1 figure,
.box2 figure,
.box3 figure,
.box4 figure {
	margin: 0;
	position: relative;
}
#contentContainer,
.pyramidBox,
.box2,
.box3,
.box4 {
	display: grid;
	grid-gap: 20px;
}
.leftBox {
	border: 2px dashed blue;
}
.upperBox,
.middleBox,
.lowerBox {
	border: 2px dashed green;
}
#contentContainer {
	grid-template-columns: 1fr 4fr;
}
.box4 {
	grid-template-columns: repeat(4, 1fr);
}
.middleBox figure {
	max-height: 125px;
}
.box2 {
	grid-template-columns: 1fr 1fr;
}
.box3 {
	grid-template-columns: repeat(3, 1fr);
}
.box1 figure {
	height: 300px;
}
@media screen and (max-width: 768px) {
	.box4 {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 624px) {
	.box3 {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 500px) {
	.wrapper {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
	}
	#contentContainer,
	.rightBox,
	.upperBox,
	.middleBox,
	.lowerBox {
		grid-gap: 15px;
	}
	.lowerBox {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 425px) {
	#contentContainer,
	.lowerBox {
		grid-template-columns: 1fr;
	}
	.leftBox {
		position: absolute;
		top: -1000px;
	}
	.upperBox {
		grid-template-columns: 1fr 1fr;
	}
}




/*category styles*/
.outerContainer h2,
.outerContainer h3,
.outerContainer h4,
.outerContainer h5,
.outerContainer label {
	color: #000;
	text-align: center;
}
.outerContainer figure {
	margin: 0;
}
.outerContainer img {
	object-fit: cover;
}
.lowerBox img {
	/*min-height: 278px;*/
}
.upperBox,
.lowerBox {
	display: grid;
	grid-gap: 20px;
}
.upperBox {
	grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(6, 1fr);
}
.lowerBox {
	grid-template-columns: repeat(4, 1fr);
}
.upperBox figure,
.middleBox figure {
	position: relative;
}
.upperBox h5 {
	position: absolute;
	margin: 7px;
	bottom: 0;
	left: 0;
	right: 0;
}
.middleBox {
	padding: 20px 0;
}
.middleBox img {
	visibility: hidden;
}
.productContainer {
	border: 1px solid #dadada;
}
@media screen and (max-width: 1325px) {
	.wrapper {
		width: 90%;
	}
	.upperBox {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 995px) {
	.wrapper {
		width: 100%;
		padding: 10px;
	}
	#contentContainer,
	.upperBox,
	.middleBox,
	.lowerBox {
		grid-gap: 10px;
	}
	.middleBox {
		padding: 10px 0;
	}
	.lowerBox {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 850px) {
	#contentContainer {
		grid-template-columns: 1fr;
	}
	.leftBox {
		position: absolute;
		left: -1000px;
	}
}
@media screen and (max-width: 550px) {
	.lowerBox {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 425px) {
	.upperBox {
		grid-template-columns: 1fr 1fr;
	}
	.productContainer h4 {
		margin: 0 0 10px;
		font-size: 14px;
	}
}
